# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
**/.env
.env.*
**/.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Build files
dist/
build/
.next/
.nuxt/
.output/

# Cache files
.cache/
.parcel-cache/
.nyc_output/
coverage/
.vite/
.temp/
.svelte-kit/

# npm / yarn
.npm/
.pnpm-store/
.yarn/
.yarn-integrity
.pnp.*

# TypeScript
*.tsbuildinfo

# Runtime data
*.pid
*.seed
*.pid.lock
pids/

# Uploads
uploads/*

# Compiled files
build/Release/

# Package files
*.tgz

# ESLint / Stylelint cache
.eslintcache
.stylelintcache

# Optional local data
*.sqlite
*.sqlite3