/* ye bus AppName mai use ho rhi thi isliye isko bus AppName mai dala h */
.todoheading{
    font-weight: 700;
    font-size: 50px;
    margin: 10px;
    margin-bottom: 20px;
    margin-left: 620px;
}