<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contect-us</title>
  </head>
  <body>
    <header>
      <p>please give your ddetail</p>
    </header>
    <main>
      <form action="/contect-us" method="POST">
        <input type="text" name="name" placeholder="Enter your name" />
        <input type="email" name="email" placeholder="Enter your email" />
        <input type="submit"/>
      </form>
    </main>
  </body>
</html> -->








<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact us</title>
  </head>
  <body>
    <header>
      <p>please give your detail</p>
    </header>
    <main>
      <!-- FIX: form action ki spelling "contect-us" se "contact-us" ki -->
      <form action="/contact-us" method="POST">
        <input type="text" name="name" placeholder="Enter your name" />
        <input type="email" name="email" placeholder="Enter your email" />
        <input type="submit" />
      </form>
    </main>
  </body>
</html>