<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>practice set</title>
  </head>
  <body>
    <header>
      <h1>Welcome to our web page</h1>
    </header>
  </body>
</html> -->




<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>practice set</title>
  </head>
  <body>
    <header>
      <h1>Welcome to our web page</h1>
    </header>
  </body>
</html>