<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airbnb Home</title>
     <link rel="stylesheet" href="output.css">
    <!-- yaha hum directly public forder ka link de rhe h isliye ./ ka use nii kr rhe -->
  </head>
  <body>
    <header>
      <h1 class="text-red-700 text-5xl">Welcome to airbnb</h1>
    </header>
    <main>
      <a href="/host/add-home">Add Home</a>
    </main>
  </body>
</html>
